.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: scroll;

}

.container > div:first-of-type{
    background-color: rgb(32, 17, 17);
    display: grid;
    grid-template-columns: repeat(1fr) ;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 10px;
 
}
.home {
    display: grid;
    place-items: center;
    transition: transform 0.3s ease; 
}

.home:hover {
    transform: scale(1.1); 
}

.home *{
    font-size: 3rem;
    color: cadetblue;
    box-shadow: 0 0 10px rgb(12, 231, 239); 
}
.home *:hover{
    color: rgb(12, 231, 239);
    box-shadow: 0 0 10px #5f9ea0; 


}

.user_initial {
    background-color: cadetblue;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 0 0 10px 0 cadetblue; 
}
.user_initial >p{
    font-family: "Archivo Black", sans-serif;
    font-size: 1.5rem;
    color:  rgb(32, 17, 17);;
}

.container > div:first-of-type > li:first-of-type{
    display: grid;
    place-items: center;
}

.container > div:first-of-type >li:nth-of-type(2){

    display: grid;
    place-items: center;
    font-family: "Hind", sans-serif;

}


.main{
    background-color:#b8c8d5;
 
 }

 .no_tickets{
    background-color:#b8c8d5;
    display: grid;   
    place-items: center; 
}

.no_tickets > div{
    max-width: 1000px;

}
.no_tickets > div {
    font-size: 3rem;
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
      
}
.no_tickets > div span{
    color:rgb(159, 27, 27);
}
.no_tickets > div p{
    color:#124c4e;
}

.main .tickets{
    background-color:#2d2323b7;
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr  2fr  ;
    margin-bottom: 5px;
    grid-template-rows:230px;
}
.main>.tickets > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tickets >div:first-of-type{
    padding: 0 10px;
}
.tickets >div:first-of-type > h2{
        font-family: "Rubik Doodle Shadow", system-ui;
        font-size: 2rem;
        font-weight: 400;
        font-style: normal;
        color: aliceblue;
        text-align: center;
        margin: 3px 0;
}

.ticket_circle_container{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.ticket_circle{
    width: 150px;
    height: 150px;
    border:5px solid rgb(10, 10, 109); 
    background-color: rgb(45, 6, 6);
    border-radius: 50%;
    text-align: center;
    display: grid;
    place-content: center;
    grid-row: 10px;
}

.ticket_circle > p{
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight:  normal;
    color: aliceblue;

}

.ticket_circle > p:first-of-type{
    font-size: 2rem;
    text-transform: uppercase;
}

.valid_box{
    display: grid;
    place-items: center;
    row-gap: 10px;
}
.valid_box p:nth-child(-n+2) {
    color:rgb(222, 81, 109);
    background-color: rgb(45, 6, 6);
    border: 2px solid rgb(164, 127, 127);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 5px;

}

.valid_box p span{
    color: #ffff;
}
.reference{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #71b3ec;
    font-size: 0.8rem;
}