.image_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 10px;
}

.image_container > figure{
    display: grid;
    grid-template-rows: 40px 100px 1fr;
    background-color: aliceblue;
    padding: 20px;
  
}


.image_container > figure figcaption{
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    font-style: normal;
}
.image_container > figure> p{
    overflow: scroll;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    text-align: justify;
 
  
}

.image_container > figure> p> span{
    color: brown;
    text-decoration: underline;

}
.image_container > figure> p> span, :hover{
    cursor: pointer;

}

.image_container > figure > img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding-top: 10px;
}

/* .image_container > figure > img:hover {
    transition: transform 0.3s ease; 

    transform: scale(1.08); 
}
 */
