.bookings {
    position: relative; 
    list-style: none;
    font-family: "Arvo", serif;
    padding: 5px;
    font-size: 1.5rem;
    color: #f0f8ff;
    text-align: center;
    background-color: rgb(9, 82, 143);
    box-shadow: 0 2px 4px rgba(200, 190, 190, 0.732); 


}

  
.ticket {
    position: absolute;
    top: 0;
    right: 0; 
    background-color: brown;
    width: 15px;
    height: 15px;
    font-size: 0.5rem;
    border-radius: 50%;
    font-weight: bold;
  }
  