.nav_Container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 2rem;
    background-color: #000000cf;
    position: fixed;
    width: 100%;
    top : 0;
    z-index: 1;
    align-items: center;
}

.logo{
    color: rgb(9, 82, 143);
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;

}
.navbar li{
    display: inline-block;
    margin: 0 20px;

}
.navbar > li{
    list-style: none;
    font-family: "Arvo", serif;
    padding: 5px;
    font-size: 1.5rem;
    color: #f0f8ff;
    text-align: center;
}

.navbar > li:hover{
   color: rgb(106, 174, 229);
    font-family: 1.8rem;
    cursor: pointer;
}

.bookings {
    position: relative; 
}

  
.tickets {
    position: absolute;
    display: grid;
    place-content: center;
    top: 0;
    right: 0; 
    background-color: brown;
    width: 20px;
    height: 20px;
    font-size: 0.7rem;
    border-radius: 50%;
    font-weight: bold;
}
.nav_Container button{
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
    outline: none;
    border: none;
    background: transparent;
    color: #fff;
}


@media only screen and (max-width:1024px){
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #0e4949;
        transition: 1s;
        transform: translateY(-200vh);
    }

    .nav_Container button{
    visibility: visible;
    opacity: 1;
}
   .navbar.responsiveNav{
        transform: none;
    }

    .nav_Container .close{
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 2rem;
    }
}