.team_container{
    width: 100%;
    height: 100vh;
    background-color: rgb(161, 201, 236);
    overflow: auto;
 
}

.staff_header{
    background-color: #fff;
    margin-bottom: 10px;
    text-align: right;
    padding: 10px;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

}

.staff_header > p{
    font-family: "Arvo", serif;
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(20, 135, 135);

}

.staff_header > p:hover{
    color: rgb(96, 210, 210);

}
.team_box{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
    margin: 0 auto;
}   

.our_team{
    background-color: rgb(20, 135, 135);
}

.teams{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
   
}

.teams > figure{
    width: 100%;
    display: grid;
    grid-auto-rows: 300px 10px 100px auto;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
 

}
.teams > figure  figcaption{
    font-family: "Ubuntu", sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(20, 135, 135);


}

.teams > figure  p{
    font-family: "DM Sans", sans-serif;
    padding-bottom: 10px;
}
.teams > figure > img{

    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-top: 5px;

}
.teams > figure > p{
    width: 100%;
}

.social_media > *{
    color: rgb(20, 135, 135);
    font-size: 2.5rem;
    padding-left: 8px;


}

.social_media > *:hover{
    color: rgba(23, 124, 124, 0.468);



}
.team_footer{
    background-color: rgb(2, 2, 29);
    background-color: rgb(7, 35, 59);
    color:#fff;
    padding: 20px;
    position: sticky;
    bottom: 0;
}